@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merienda&family=Rubik+Dirt&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #8d2f23;
    color: aliceblue;
    padding: 16px;
    font-family: 'Merienda', cursive;
}

header li{
    display: inline;
    margin: 0 0 0 16px;
    font-size: 20px;
}

header li a {
    color: aliceblue;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container h2 {
    padding: 70px 32px;
}
.orion img,
.orion-exile img,
.trees img, 
.burning img,
.quasar img,
.eater img,
.explorer img{
    max-width: 783.4px;
    height: 600px;
    padding: 10px;
    margin: 0 20px 0 0;
}

.orion ul h3,
.orion-exile ul h3,
.trees ul h3, 
.burning ul h3,
.quasar ul h3,
.eater ul h3,
.explorer ul h3{
    padding: 10px 0 10px 16px;
}

.orion li ,
.orion-exile li,
.trees li,
.burning li,
.quasar li,
.eater li,
.explorer li{
    display: inline;
    margin: 16px;
}

.orion li p ,
.orion-exile p,
.trees p,
.burning p,
.quasar p,
.eater p,
.explorer p{
    margin: 0 0 0 16px;
    position: relative;
}

.orion,.orion-exile, .trees, .burning, .quasar, .eater, .explorer{
    align-items: center;
    margin: 0 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.orion, .orion-exile, .trees, .burning, .quasar, .eater, .explorer{
    padding: 0 0px 0 0px;
}

body {
    background-color: #212027;
}

header {
    background-color: #86180c;
}

h2{
    color: #d42d0c;
}

section h3, section li {
    color: #828282;
}

footer {
    background-color: #594346;
    padding: 32px 0;
    text-align: center;
    font-family: 'Merienda', cursive;;
}

h2, h3 {
    font-family: 'MedievalSharp', cursive;
}

li p {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
}

.form ul input,
.form button{
    display: block;
    width: 280px;
    margin: 0 0 8px 32px;
    padding: 10px 0;
}

.form button {
    border-style: none;
    background-color: #f22f08;
    margin-bottom: 24px;
}

.form input:focus{
    outline-color: #f22f08;
}

.form button:hover {
    cursor: pointer;
    background-color: #bb2102;
}

.form ul input,
.form button {
    font-family: 'MedievalSharp', cursive;
}


/*
    font-family: 'MedievalSharp', cursive;

    font-family: 'Merienda', cursive;

    font-family: 'Rubik Dirt', cursive;

    font-family: 'Special Elite', cursive;
*/
