@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merienda&family=Rubik+Dirt&family=Special+Elite&display=swap');

/*
    font-family: 'MedievalSharp', cursive;

    font-family: 'Merienda', cursive;

    font-family: 'Rubik Dirt', cursive;

    font-family: 'Special Elite', cursive;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #594346;
    color: aliceblue;
    padding: 16px;
    font-family: 'Merienda', cursive;
}

header li{
    display: inline;
    margin: 0 0 0 16px;
    font-size: 20px;
}

header li a {
    color: aliceblue;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container h2 {
    padding: 70px 32px;
}
.orion img,
.orion-exile img,
.trees img, 
.burning img{
    max-width: 783.4px;
    height: 600px;
    padding: 10px;
    margin: 0 20px 0 0;
}

.orion ul h3,
.orion-exile ul h3,
.trees ul h3, 
.burning ul h3{
    padding: 10px 0 10px 16px;
}

.orion li ,
.orion-exile li,
.trees li,
.burning li{
    display: inline;
    margin: 16px;
}

.orion li p ,
.orion-exile p,
.trees p,
.burning p{
    margin: 0 0 0 16px;
    position: relative;
}

.orion,.orion-exile, .trees, .burning {
    align-items: center;
    margin: 0 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.orion, .orion-exile, .trees, .burning {
    padding: 0 0px 0 0px;
}